  version: '3'
  services:
    backend:
      build:
        context: ./api
      ports:
        - "3000:3000"
      
    frontend:
      build: 
        context: ./client
      ports:
        - "7000:80"

